package components

import model "github.com/icelandicicecream/ben-portfolio-v2/model"

var projects = []model.ProjectCard{
	{
		// Create a write-up
		Title:       "AI Powered Accounting Software",
		Tags:        []string{"Go", "Svelte Kit", "PostgreSQL", "OpenAI API"},
		Date:        "Oct 25, 2024",
		Description: "An accounting software with a built-in AI interface to creating transactions and understanding your accounting data",
		Link:        "https://debits.epicstartups.co/",
	},
	{
		Title:       "Self Hosted Blog",
		Tags:        []string{"Docker", "Ghost", "Fly"},
		Date:        "Oct 25, 2024",
		Description: "A self hosted blog built with Ghost and Fly.io. I built this to learn more about the platform and how to deploy a blog.",
		Link:        "https://ben-ghost-blog.fly.dev/",
	},
	{
		// Create a write-up
		Title:       "OpenAI Go Chat Bot",
		Tags:        []string{"Go", "OpenAI API", "Svelte"},
		Date:        "Feb 25, 2024",
		Description: "A functioning chat bot that utilises OpenAI's API for Chat Completions using Go and Svelte.",
		Link:        "https://github.com/IcelandicIcecream/go-openai-web",
	},
	{
		// Create a write-up
		Title:       "Go Discord Music Bot",
		Tags:        []string{"Go", "Discord API", "Youtube API"},
		Date:        "Aug 6, 2023",
		Description: "A discord bot that plays music from youtube I built for my gaming sessions with my friends on discord.",
		Link:        "https://road-fire-8e8.notion.site/Go-Discord-Music-Bot-4d2531428ea84f268889e8f882015128?pvs=4",
	},
	{
		// Create a write-up
		Title:       "Accounting Database Management Platform",
		Tags:        []string{"Go", "Svelte Kit", "PostgreSQL"},
		Date:        "Jun 25, 2023 - Present",
		Description: "An accounting software that consolidates data from multiple sources, standardises them and generates reports from it. ",
		Link:        "https://road-fire-8e8.notion.site/Accounting-Database-Management-Platform-f1c57b8de94a4cb9bea7e2fdb4fec744?pvs=4",
	},
	{
		Title:       "Single Release Landing Page",
		Tags:        []string{"NextJS", "React", "TailwindCSS"},
		Date:        "Apr 12, 2023",
		Description: "A landing page for a musical artist single release. Made it in style of the 2000s, with a retro design.",
		Link:        "https://talitha-6hrs.vercel.app/",
	},
	{
		Title:       "First Portfolio Website",
		Tags:        []string{"NextJS", "React", "TailwindCSS"},
		Date:        "Sep 8, 2022",
		Description: "My first portfolio website. I made it back when I tried learning NextJS and React",
		Link:        "https://icelandicicecream.vercel.app/",
	},
	{
		Title:       "Teh Ultimate Bill Splitter",
		Tags:        []string{"React", "Vercel"},
		Date:        "Aug 30, 2022",
		Description: "A real-time bill splitting single-page application made to handle tax, discounts and delivery fees.",
		Link:        "https://tehlunchcalculator.vercel.app",
	},
	{
		Title:       "Music Company Website",
		Tags:        []string{"Wordpress", "Woocommerce", "CSS"},
		Date:        "Dec 20, 2020",
		Description: "A business site meant to showcase the company's services, artists and handle merch transactions via stripe and woocommerce.",
		Link:        "https://breakingmusic.my/",
	},
}

templ ProjectList(state model.State) {
	<div class="bg-white py-8 sm:py-14 shadow-lg ring-1 ring-gray-900/5 rounded-xl sm:rounded-md bg-opacity-40">
		<div class="mx-auto max-w-7xl px-6 lg:px-12">
			<h2 class="text-4xl font-bold tracking-tight text-gray-600 pl-4">Projects</h2>
			<p class="mt-2 text-3xl leading-8 text-gray-600 pl-4 lg:text-lg">Here are the projects that I've worked on recently</p>
			<!-- Scrollable container -->
			<div class="mt-8 overflow-y-auto max-h-[600px]">
				<div class="divide-y divide-gray-200">
					<!-- Loop through projects -->
					for _, project := range projects {
						<article class="flex flex-col items-start justify-between p-4 lg:max-w-xl">
							<div class="mb-4 flex items-center gap-x-4 text-xl mt-6 lg:text-xs">
								<time class="text-gray-500 text-2xl lg:text-xs">{ project.Date }</time>
								<span class="flex flex-row items-center gap-x-2 text-2xl lg:text-xs">
									for _, tag := range project.Tags {
										<p class="relative z-10 rounded-md bg-teal-50 shadow-sm px-3 py-3 font-medium text-gray-600 hover:bg-teal-100 lg:py-1.5">{ tag }</p>
									}
								</span>
							</div>
							<div class="group relative">
								<h3 class="mb-4 text-3xl font-semibold leading-10 text-gray-600 group-hover:text-gray-600 lg:text-lg lg:mb-2">
									<a href={ project.Link } target="_blank" rel="noopener noreferrer">
										<span class="absolute inset-0"></span>
										{ project.Title }
									</a>
								</h3>
								<p class="mb-4 line-clamp-3 text-3xl leading-10 text-gray-600 lg:text-sm">{ project.Description }</p>
							</div>
						</article>
					}
				</div>
			</div>
		</div>
	</div>
}
